.red-button{
    width: 170px;
    padding: 5px 15px;
    background-color: red;
    color: white;
    border-radius: 25px;
    border: 1px solid red;
    transition: 0.3s ease;
}

.red-button:hover{
    color: red;
    background-color: white;
}